<article class="speakerslist">
 <section class="layout">
    <div class="speakers">
     <% artists.forEach(function(item){ %>        
        <article class ="artist group">
            <h3><%= item.title %><span class="small">with
        <a href ="/speakers/<%= item.shortname %>"><%= item.name %></a></span></h3>
     <P>
     <a href ="/speakers/<%= item.shortname %>">
         <img class="speaker" src="/images/speakers/<%= item.shortname %>_tn.jpg" alt="photo of <%= item.name %>"> </a>
         
         <% if(page!='home'){ %>
           <% if(page === 'artistList'){ %>
              <%= item.summary %>
         
       <%  } else { %>
            <%- item.description %>
         
       <%  } %>
         
      <% } %>
         </a></P>
        </article>
     <% }); %>
     
     </div>
    </section>

</article>